<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MySetting" value="An important string" />
  </appSettings>
  <connectionStrings>
    <add
            name="MyConnectionString"
            connectionString=" Data Source=server;Initial Catalog=pubs;Integrated Security=SSPI;"
            providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>


